.image-example {
    img {
        display: block;
    }

    .a-image-container {
        width: 156px;
        height: 300px;
        background-size: 100% 100%;
        background-image: url("~images/dog.jpg");
    }
}
